$blue: #3482ba;
$back: #173951;
$white: #fff;
$back1: #3482ba1f;
$blue1: #397dadec;
$blue2: #00008b;
$black: #333;
$black1: rgba(189, 206, 214, 0.075);
$white1: #bbb;
$black2: #717171;
$black3: #666;
$blue3: #007bff;
$back2 : #f0f0f0;
$blue4: #0056b3;